<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>smile</key>
	<dict>
		<key>eyeLookOutLeft</key>
		</array>
		<key>eyeLookDownRight</key>
		<array/>
		<key>eyeLookDownLeft</key>
		<array/>
		<key>mouthFrownRight</key>
		<array/>
		<key>mouthFrownLeft</key>
		<array/>
		<key>eyeWideLeft</key>
		<array/>
		<key>browOuterUpRight</key>
		<array/>
		<key>browOuterUpLeft</key>
		<array/>
		<key>browInnerUp</key>
		<array/>
		<key>browDownRight</key>
		<array/>
		<key>browDownLeft</key>
		<array/>
		<key>mouthDimpleRight</key>
		<array/>
		<key>mouthDimpleLeft</key>
		<array/>
		<key>mouthPressRight</key>
		<array/>
		<key>mouthPressLeft</key>
		<array/>
		<key>mouthPucker</key>
		<array/>
		<key>jawOpen</key>
		<array/>
		<key>toungeOut</key>
		<array/>
		<key>eyeBlinkRight</key>
		<array/>
		<key>eyeBlinkLeft</key>
		<array/>
		<key>mouthSmileLeft</key>
		<array/>
		<key>mouthSmileRight</key>
		<array/>
	</dict>

</dict>
</plist>
